<h1>Bounty Board</h1>

<div>
 <% @bags.each do |bag| %>
 <% if bag.hunter_id.nil? %>
  <%= link_to "#{bag.name}", user_bag_orders_path(bag.user_id, bag.id) %>
  <%#= bag.name %>
  <br>
  <% end %>
  <% end %>
  <%# end %>
</div>
<br>

<h2>Pending Missions</h2>
<% @user.each do |hunt| %>
  <% if hunt.bag_status != "Completed!" %>
    <%= link_to "#{hunt.name}", user_bag_orders_path(hunt.user_id, hunt.id) %>
  <br>
  <% end %>
<% end %>

<h2>Complete Missions</h2>
<% @user.each do |hunt| %>
  <% if hunt.bag_status = "Completed!" %>
    <%= link_to "#{hunt.name}", user_bag_orders_path(hunt.user_id, hunt.id) %>
  <br>
  <% end %>
<% end %>
