<p id="notice"><%= notice %></p>
<h1 id='homeTitle'>Feed Me</h1>
<p id='homeContent'>Don't have time to shop? Find somebody to shop for you!</p>
<br>
<p id='homeLink'><a href='#'>Get started ></a></p>


