<div class='container' id="bagIndex">
<div class="row">
  <h2>MY BAGS</h2>
  <ul class='bagList'>
      <% @bags.each do |bag| %>
        <li><%= link_to "#{bag.name} | Current Status: #{bag.bag_status}", user_bag_path(@user, bag)%></li>
          <% end %>
  </ul>
  </div>
  </div>
<br>
<br>
<div class="container">
<div class="row">
  <div class="col-sm-6">
    <%= link_to "Create a New Bag", new_user_bag_path(@user), class: "bagIndexCircle" %>
  </div>
  <div class="col-sm-6">
    <%= link_to "Back to home", user_path(@user), class: "bagIndexCircle" %>
  </div>
  </div>
  </div>
