// Place all the styles related to the bags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bagShow {
  background-color: rgba(86,9,8,1);
}

#parentRow {
  height: 393px;
  background-color: rgba(86,9,8,1);
}
